* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	line-height: 1.4;
}
.tabs {
    width: 960px;
    max-width: 100%;
	margin: 0 auto;
}
.tabs-container {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.tab-title {
    width: 100%;
    background: #E2E8EB;
	font-weight: 700;
	/* text-align: center; */
	padding: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	cursor: pointer;
    margin-block: 0;
    transition: 0.3s;
}
.tab-content {
	display: none;
	padding: 16px;
}

.tab-title.active {
	background: #fff;
}
.tab-title.active + .tab-content {
	display: block;
}
@media (min-width: 768px) {
	.tab-title {
        width: min(5rem, max(20rem, 100%));
        max-width: 100%;
        order: 1;
        flex-grow: 1;
    }
    .tab-content {
        order: 99;
        flex-grow: 1;
    }
}